*{padding: 0; border: 0; margin: 0; /*outline: red solid thin;*/}
hr{width: 90%; margin: 0.5em auto; border: 1px inset;}

@font-face{font-family: TitleFont; src: url('font/Cardo.ttf');}
@font-face{font-family: MainFont;  src: url('font/Cardo.ttf');}

body{
	background: url(img/bgcoffee.jpg);
	background-size: cover;
	height: 97vh;
	font-family: MainFont, Helvetica, sans-serif;
	text-align: center;
}

h1{font-family: TitleFont; font-size: 3.5em; margin-top: 0.25em;}
h2{font-family: TitleFont; font-size: 2em;}
h3{font-size: 0.8em; color: red;}
p {font-size: 1em;}

#rules, #scoreboard, #credits{
	width: 33%;
	float: left;
	display: inline;
}

.floatclear{clear: both;}

.fade-out{
	color: red;
	animation-name: fade-out;
	animation-duration: 1.5s;
	animation-timing-function: ease-in;
	animation-fill-mode: both;
}

@keyframes fade-out{
	0% {opacity: 1;}
	100% {opacity: 0;}
}

a{
	color: #FFE5B5;
}

a:hover{
	color: #FAEBED;
}

::selection {
  background: #FFE5B5;
}

/* ==================== Board ==================== */
/* ==================== center something directly in the middle ==================== */
/*#board{
	cursor: pointer;
	border: 3px solid black;
	border-collapse: seperate;
	position: fixed;
	width: 16em;
	height: 16em;
	margin-left: -8em;
	margin-top: -8em;
	top: 50%;
	left: 50%;
}*/

#board{
	min-width: 16em;
	height: 16em;
	margin: 0.5em auto;
	border: 3px solid black;
	border-collapse: seperate;
	cursor: pointer;
}

#board td{
	border: 1px solid white;
	background-size: 100%;
	background-repeat: no-repeat;
	text-align: left;
	vertical-align: top;
	color: transparent;
}

/* ==================== Grids ==================== */
.boxes{
	width: 100%;
}


.grid{
	margin: 0 0.5em;
	border: 3px solid black;
	border-collapse: seperate;
	display: inline-block;
	cursor: pointer;
}

.grid td{
	width: 0.7em;
	height: 0.7em;
	border: 1px solid white;
	background-size: 0.7em;
	background-repeat: no-repeat;
}

.grid:hover{
	background-color: rgba(255, 255, 255, 0.5);
}

/* ==================== Buttons ==================== */
button{
	background: white;
	min-width: 150px;
	margin: 0 0.5em;
	padding: 15px 0;
	border-radius: 10px;
	cursor: pointer;
}

button:hover{
	background: #EEEEEE;
}