*{padding: 0; border: 0; margin: 0; /*outline: red solid thin;*/}
hr{width: 90%; margin: 0.5em auto; border: 1px inset ivory;}

@font-face{font-family: StyleFont;  src: url('font/Tangerine.ttf');}
@font-face{font-family: TitleFont; src: url('font/Cardo.ttf');}
@font-face{font-family: MainFont;  src: url('font/Cardo.ttf');}

body{
	background: url(img/bgWorkshop.png) no-repeat fixed center;
	background-size: cover;
	height: 100vh;
	font-family: MainFont, Helvetica, sans-serif;
	text-align: center;
	overflow-x: hidden;
	user-select: none;
}

h1{font-family: TitleFont; font-size: 3.2em;}
h2{font-family: TitleFont; font-size: 2em;}
h3{font-size: 0.8em; color: red;}
p {font-size: 1em;}

a{color: maroon;}
a:hover{color: cornflowerblue;}

::selection {
	background: white;
}

::-webkit-scrollbar {
	display: none;
}

/* ==================== Landing ==================== */
#landing {
	background: url(img/bgAtelierMeruru.jpg) no-repeat fixed center;
	background-size: cover;
	height: 100vh;
	text-align: center;
	color: darkslategrey;

	/* flexbox */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;

	/* turns full screen landing into a modal */
	position: fixed;
	z-index: 1;
	width: 100%;
}

.landing-box{
	background: rgba(255, 255, 255, 0.85);
	padding: 1em;
	width: 30%;
	margin: auto;
	border-radius: 15px;
	overflow-y: scroll;
}

#landing button {
	font-family: StyleFont;
	font-size: 2.5em;
	font-weight: bold;
	color: darkslategrey;
	text-shadow: 2px 2px ivory;
	width: 145px;
	height: 63px;
	margin: 5px auto;
	background: url(img/buttonLogoSmall.png) center no-repeat;
	background-color: transparent;
	cursor: pointer;
}

#landing button:hover {
	filter: drop-shadow(5px 5px 3px #CCCCCC);
}

button:focus {
	outline:none;
}

/* ====================== Game ===================== */
#game {
	color: ivory;
	text-shadow: 1px 1px black;
	padding-top: 0.25em;
}

.fade-out{
	color: red;
	animation-name: fade-out;
	animation-duration: 2s;
	animation-timing-function: ease-in;
	animation-fill-mode: both;
}

@keyframes fade-out{
	0% {opacity: 1;}
	100% {opacity: 0;}
}

#board{
	background: rgba(47, 79, 79, 0.75);
	min-width: 16em;
	height: 16em;
	margin: 0.5em auto;
	border: 3px solid black;
	border-collapse: seperate;
	cursor: pointer;
}

#board td{
	border: 1px solid ivory;
	background-size: 100%;
	background-repeat: no-repeat;
	text-align: left;
	vertical-align: top;
	color: transparent;
	text-shadow: none;
}

/* ==================== Grids ==================== */
.grid{
	background: rgba(47, 79, 79, 0.75);
	margin: 0 0.5em;
	border: 3px solid black;
	border-collapse: seperate;
	display: inline-block;
	cursor: pointer;
}

.grid td{
	width: 0.7em;
	height: 0.7em;
	border: 1px solid white;
	background-size: 0.7em;
	background-repeat: no-repeat;
}

.grid:hover{
	background-color: rgba(255, 255, 255, 0.5);
}

/* ==================== Buttons ==================== */
#game button {
	font-family: StyleFont;
	font-size: 2em;
	font-weight: bold;
	color: ivory;
	text-shadow: 2px 2px black;
	width: 145px;
	height: 63px;
	margin: 5px auto 15px auto;
	background: url(img/buttonLogoSmall.png) center no-repeat;
	background-color: transparent;
	cursor: pointer;
	/* firefox fix */
	display: inline-block;
	vertical-align: top;
}

#game button:hover {
	filter: drop-shadow(5px 5px 3px #CCCCCC);
}

/* ==================== Mobile ==================== */
@media (max-width: 900px){
	.landing-box{
		width: 75%;
	}
}