*{padding: 0; border: 0; margin: 0; /*outline: red solid thin;*/}
hr{width: 90%; margin: 0.5em auto; border: 1px inset;}

@font-face{font-family: StyleFont;  src: url('font/Tangerine.ttf');}
@font-face{font-family: TitleFont; src: url('font/Cardo.ttf');}
@font-face{font-family: MainFont;  src: url('font/Cardo.ttf');}

body{
	background: url(img/bgAtelierSophie.jpg);
	background-size: cover;
	background-position: center;
	height: 100vh;
	font-family: MainFont, Helvetica, sans-serif;
	text-align: center;
}

h1{font-family: TitleFont; font-size: 3.2em;}
h2{font-family: TitleFont; font-size: 2em;}
h3{font-size: 0.8em; color: red;}
p {font-size: 1em;}

a{color: maroon;}
a:hover{color: cornflowerblue;}

::selection {
  background: white;
}

/* ==================== Landing ==================== */
#landing {
	background-image: url(img/bgAtelierMeruru.jpg);
	background-size: cover;
	background-position: center;
	height: 100vh;
	text-align: center;
	color: darkslategrey;
    text-shadow: 2px 2px grey;

	/* flexbox */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;

	/* turns full screen landing into a modal */
	position: fixed;
	z-index: 1;
	width: 100%;
}

#landing button {
	font-family: StyleFont;
	font-size: 2.5em;
	font-weight: bold;
	color: darkslategrey;
    text-shadow: 2px 2px ivory;
	width: 145px;
	height: 63px;
	margin: 5px auto;
	background: url(img/buttonLogoSmall.png) center no-repeat;
	background-color: transparent;
	cursor: pointer;
}

#landing button:hover {
	filter: drop-shadow(5px 5px 3px #CCCCCC);
}

button:focus {
    outline:none;
}

/* ================================================= */
.textbox{
	background: rgba(255, 255, 255, 0.85);
	padding: 1em;
	width: 30%;
	margin: auto;
	border-radius: 15px;
}

#rules, #scoreboard {
	width: 33%;
	float: left;
	display: inline;
}

.floatclear{clear: both;}

.fade-out{
	color: red;
	animation-name: fade-out;
	animation-duration: 1.5s;
	animation-timing-function: ease-in;
	animation-fill-mode: both;
}

@keyframes fade-out{
	0% {opacity: 1;}
	100% {opacity: 0;}
}

/* ==================== Board ==================== */
#board{
	min-width: 16em;
	height: 16em;
	margin: 0.5em auto;
	border: 3px solid black;
	border-collapse: seperate;
	cursor: pointer;
}

#board td{
	border: 1px solid white;
	background-size: 100%;
	background-repeat: no-repeat;
	text-align: left;
	vertical-align: top;
	color: transparent;
}

/* ==================== Grids ==================== */
.boxes{
	width: 100%;
}

.grid{
	margin: 0 0.5em;
	border: 3px solid black;
	border-collapse: seperate;
	display: inline-block;
	cursor: pointer;
}

.grid td{
	width: 0.7em;
	height: 0.7em;
	border: 1px solid white;
	background-size: 0.7em;
	background-repeat: no-repeat;
}

.grid:hover{
	background-color: rgba(255, 255, 255, 0.5);
}

/* ==================== Buttons ==================== */
button{
	background: white;
	min-width: 150px;
	margin: 0 0.5em;
	padding: 15px 0;
	border-radius: 10px;
	cursor: pointer;
}

button:hover{
	background: #EEEEEE;
}